<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<bean id="e" class="com.loglogic.Emp" scope="singleton">
		<property name="id" value="101"/>
		<property name="firstName" value="Nitin"/>
		<property name="lastName" value="Jadhav"/>
		<property name="salary" value="12000"/>
		
	</bean>
	
	<bean id="e2" class="com.loglogic.Emp" scope="singleton">
		<property name="id" value="101"/>
		<property name="firstName" value="Nitin"/>
		<property name="lastName" value="Jadhav"/>
		<property name="salary" value="12000"/>
		
	</bean>

</beans>
